.page {
  margin: 0;
  padding: 92px 50px 90px;
}

.header, .main, .footer {
  max-width: 1440px;
  margin: 0 auto;
}

.address {
  line-height: 24.3px;
}
.address .address__list {
  padding: 2px 1px 0 0;
  list-style-type: none;
}
.address .address__list .address__list-link {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.menu .menu__links-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
}
.menu .menu__links-list .menu__links-list-item:first-child {
  list-style: none;
}
.menu .menu__links-list .menu__link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}
.menu .menu__links-list .menu__link_active {
  border-bottom: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}
.header .header__logo {
  display: block;
  max-width: 140px;
  max-height: 105px;
  margin-right: 150px;
}

.main {
  margin-top: 96px;
}

.content-section {
  margin-bottom: 180px;
}

.aligned-text_right {
  text-align: right;
}

.aligned-text_center {
  text-align: center;
}

.overlay {
  position: absolute;
  inset: 0 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.cover {
  position: relative;
  padding: 165px 0 50px;
  color: #fff;
  text-transform: uppercase;
}
.cover .cover__overlay {
  inset: 0 0 0 -50px;
  width: calc(100% + 100px);
  background: url("../images/cover.jpg") lightgrey 50%/cover no-repeat;
  filter: brightness(0.5);
}
.cover .cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 135px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 30px;
}
.cover .cover__title .line-height-extended {
  line-height: 115%;
}
.cover .cover__title .position-relative {
  position: relative;
  left: -24px;
}
.cover .cover__title .position-fix {
  margin-right: -50px;
}
.cover .cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
}
.cover .cover__description .cover__description-text {
  display: flex;
  gap: 23px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}
.card-link .card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  gap: 25px;
  max-width: 430px;
  height: 100%;
  min-height: 450px;
  padding: 50px 40px;
  color: #fff;
}
.card-link .card .card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}
.card-link .card .card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots .lots__heading {
  margin-bottom: 27px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}
.lots .lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
}
.lots .lots__look-more-link {
  display: block;
  margin-top: 30px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
}
.lots .lots__overlay-1 {
  background: url("../images/card-lot-01.jpg") lightgray 50%/cover no-repeat;
  filter: brightness(0.5);
}
.lots .lots__overlay-2 {
  background: url("../images/card-lot-02.jpg") lightgray 50%/cover no-repeat;
  filter: brightness(0.5);
}
.lots .lots__overlay-3 {
  background: url("../images/card-lot-03.jpg") lightgray 50%/cover no-repeat;
  filter: brightness(0.5);
}

.about {
  display: grid;
  grid-template-columns: 32% 68%;
  grid-template-rows: repeat(2, 240px);
  grid-template-areas: "logo title" ". text";
  -webkit-column-gap: 25px;
  -moz-column-gap: 25px;
  column-gap: 25px;
  line-height: 100%;
}
.about .about__logo {
  justify-self: center;
  align-self: center;
}
.about .about__logo .about__logo-container {
  grid-area: logo;
  max-width: 240px;
  max-height: 240px;
  border-radius: 50%;
  padding: 63px 46px;
  background: black;
}
.about .about__logo .about__logo-container .about__logo-image {
  width: 100%;
  height: 100%;
}
.about .about__title {
  grid-area: title;
  align-self: center;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}
.about .about__text {
  display: flex;
  flex-direction: column;
  grid-area: text;
  place-self: start;
  gap: 25px;
  padding-top: 7px;
}
.about .about__text .about__column {
  padding-right: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 10px;
}
.footer .address .footer__address {
  letter-spacing: 1px;
}
.footer .footer__menu .footer__links-list {
  flex-direction: column;
  gap: 3px;
  padding-left: 8px;
  letter-spacing: 1px;
  text-align: center;
  list-style: none;
}
.footer .footer__navigation .footer__social-list {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
}
.footer .footer__navigation .footer__social-list .footer__social-link {
  display: block;
  max-width: 48px;
  max-height: 48px;
}

/*# sourceMappingURL=../OSPanel/domains/dev/ono-tebe-nado/styles/style.css.map */